<!DOCTYPE html>
<html>
  <head>
    <title>Mocha Rails</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag    "mocha_rails/application", :media => "all" %>
    <%= javascript_include_tag "mocha_rails/application" %>
    <%= javascript_include_tag "mocha-suite" %>
  </head>
  <body>
    <div id="mocha"></div>
  </body>
</html>
